# Define o comportamento padrão para todos os arquivos ser determinado automaticamente
* text=auto

# Força explicitamente terminações de linha no estilo Unix para tipos de arquivo específicos
*.json text eol=lf
*.js   text eol=lf
*.css  text eol=lf
*.html text eol=lf